div:not(.container) {
  /* outline: 2px solid red; */
  border: 2px solid blue;
  min-width: 200px;
  height: 200px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}

